# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Overview of data science tools used , eg: Jupyter Notebook, Rstudio, Anaconda
- Languages used in data science - eg: Python, R, SQL
- Libraries, APIs and Datasets used in data science - eg: Matplotlib, Numpy, Pandas, Scikit-Learn, Tensorflow, PyTorch
- Version Control - eg: Git, Github, Bitbucket, Gitlab

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn

|Data Science Tools|
|------------------|
|Tableau           |
|Apache Spark      |
|Hadoop            |
|Scikit-Learn      |
|PyTorch           |
|SQL               |
|Python            |

### Below are a few examples of evaluating arithmetic expressions in Python :

$(a+b)^2 = a^2+b^2+2*a*b$

$a/b + b/c = (a*c+b^2)/(b*c)$

$(a+b+c)^2 = (a^2)+(b^2)+(c^2)+(2*a*b)+(2*b*c)+(2*a*c)$

In [8]:
#This is a simple arithmwtic expression to multiply and add the numbers.
4*8+3

35

In [9]:
#Convert 100 minutes into hours by dividing by 60.
100/60

1.6666666666666667

## Author
Jayanth Appalla